.header{
    background: #ffedcd;
   
    font-family: 'Coda Caption', sans-serif;
    width: 100%;
    
    min-height: 10vh;
    border-bottom: orange 3px solid;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row:  2rem;
    margin: auto;
    

}
.header .menu{
    float: right;
    color: #04378a;
    position: relative;
    margin-top: 1.2vh;
    
    font:0.9em Coda Caption, sans-serif;
    font-weight: 100;
}
.header .menu a{
    margin: 5px 5px;
    padding: 5px 10px;
    
}


.logo img{
    margin:20px;
    float: left;
    height: 9vh;
    width: 120px;
}
a{
   
    
    color: #04378a;
    text-decoration: none;

}
a:hover{
    color: #04378a;
    
    text-decoration: none;
    border-bottom: 2px solid #e94d13;
    border-top: 2px solid #e94d13;
    font-weight: bold;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media(max-width:768px){
    .header{
        display:grid ;
        grid-template-columns: auto;
        align-items: center;
        text-align: center;
        margin: auto;
        float: center;
    }
    
    .header .menu,
    .header .logo
    {
        
        float: center;
        
        
        
    }
    .header .logo{
        max-width: 50%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    .header .menu{
    font-size: 2vh;
    float: center;
    max-width: 80vw;
    
    }
    /* .header .menu{
        max-width: 100%;
        font-size: 1vw;
        display: inline;
        text-align: center;
        align-items: center;
        justify-content: center;
    } */
  }