.header{
    background: #ffedcd;
   
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
    min-height: 100px;
    border-bottom: orange 3px solid;

}
.header .menu{
    float: right;
    color: #04378a;
    position: relative;
    margin-top: 6%;
    
    font:0.9em Roboto, sans-serif;
    font-weight: 100;
}
.header .menu a{
    margin: 5px 5px;
    padding: 5px 10px;
    
}


.logo img{
    margin:20px;
    float: left;
    height: 100%;
    width: 120px;
}
a{
   
    
    color: #04378a;
    text-decoration: none;

}
a:hover{
    color: #04378a;
    
    text-decoration: none;
    border-bottom: 2px solid #e94d13;
    border-top: 2px solid #e94d13;
    font-weight: bold;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media(max-width:500px){
    .header .menu,
    .header .logo
    {
        
        float: center;
        
        
        
    }
    .header .logo{
        max-width: 50%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    .header .menu{
        max-width: 100%;
        margin-top:2%;
        
        text-align: center;
        align-items: center;
        justify-content: center;
    }
  }