*{
  padding: 0;
  margin: 0;
  
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
/*  this is to maximize the card  */
  width: 90%;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.6),
  -30px 0px 40px rgba(0, 0, 0, 0.6);

}

@media(max-width:600px){
  
  .App{
    display: block;
    max-width: 90%;
  }
}
